@model host.Models.Restaurant

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 610px;
            width: 90%;
            height: 90%;
            background-color: white;
            padding: 20px;
            border-radius: 30px;
        }
        .close-button {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            font-size: 50px;
            color: #4c4c4c;
        }
    </style>
</head>
<body>
<div class="container">
    @foreach (var category in Model.Menu.Categories)
    {
        <div class="block">
            <div class="category">@category.Name</div>
            <div class="row">
                @foreach (var cell in category.Dishes)
                {
                    <div class="cell" data-cell='{"name": "@cell.Name", "image": "https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg", "price": "@cell.Price", "desc": "@cell.Description", "weight": "@cell.Weight"}' onclick="handleCellClick(event, this)">
                        <img src="https://grillandjoy.ru/upload/medialibrary/651/9_2_003.jpg" alt="image" class="image">
                        <div class="content">
                            <h2 class="cost">@cell.Price₽</h2>
                            <p class="desc">@cell.Name</p>
                            <button class="add-button" data-item-id="@cell.Id" data-count="0">
                                <span class="plus">+</span>
                                <span class="text">Добавить</span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div id="popup">
    <img src="#" alt="image" class="image" id="popup-image">
    <span class="close-button" onclick="hidePopup()">×</span>
    <div class="content">
        <div id="popup-cost" class="cost"></div>
        <div id="popup-desc" class="desc"></div>
        <div id="popup-weight" class="weight"></div>
        <div id="popup-full-desc" class="desc"></div>
    </div>
    
</div>

<script>
const addButton = document.querySelectorAll('.add-button');

addButton.forEach(button => {
  button.addEventListener('click', () => {
    const currentCount = parseInt(button.getAttribute('data-count'), 10);
    const newCount = currentCount + 1;
    
    const div = document.createElement('div');
    div.className = 'add-button';
    div.setAttribute('data-item-id', button.getAttribute('data-item-id'));
    div.setAttribute('data-count', newCount);
    
    div.innerHTML = `
    <span class="action1" onclick="minus('${button.getAttribute('data-item-id')}')">-</span>
    <span class="text">${newCount}</span>
    <span class="action1" onclick="plus('${button.getAttribute('data-item-id')}')">+</span>`;
    
    button.replaceWith(div);
  });
});

function plus(id) {
    const button = document.querySelector(`.add-button[data-item-id="${id}"]`);
    if (button) {
        const currentCount = parseInt(button.getAttribute('data-count'), 10);
        const newCount = currentCount + 1;
        button.setAttribute('data-count', newCount);
        button.querySelector('span:nth-child(2)').textContent = newCount;
        console.log(`Plus: New count for item ${id} is ${newCount}`); 
    }
}

function minus(id) {
    const button = document.querySelector(`.add-button[data-item-id="${id}"]`);
    if (button) {
        const currentCount = parseInt(button.getAttribute('data-count'), 10);
        const newCount = currentCount - 1;
        if (newCount === 0) {
            const originalButton = document.createElement('button');
            originalButton.className = 'add-button';
            originalButton.setAttribute('data-item-id', button.getAttribute('data-item-id'));
            originalButton.setAttribute('data-count', '0');
            originalButton.innerHTML = `
                <span class="plus">+</span>
                <span class="text">Добавить</span>
            `;
            originalButton.addEventListener('click', () => {
                const currentCount = parseInt(originalButton.getAttribute('data-count'), 10);
                const newCount = currentCount + 1;
                
                const div = document.createElement('div');
                div.className = 'add-button';
                div.setAttribute('data-item-id', originalButton.getAttribute('data-item-id'));
                div.setAttribute('data-count', newCount);
                
                div.innerHTML = `
                <span class="action1" onclick="minus('${originalButton.getAttribute('data-item-id')}')">-</span>
                <span class="text">${newCount}</span>
                <span class="action1" onclick="plus('${originalButton.getAttribute('data-item-id')}')">+</span>`;
                
                originalButton.replaceWith(div);
            });
            button.replaceWith(originalButton);
        } else {
            button.setAttribute('data-count', newCount);
            button.querySelector('span:nth-child(2)').textContent = newCount; 
        }
    }
}

function handleCellClick(event, cellElement) {
    if (!event.target.closest('.add-button')) {
        const cellData = JSON.parse(cellElement.getAttribute('data-cell'));
        showPopup(cellData);
    }
}

function showPopup(cellData) {
    const popup = document.getElementById('popup');
    const popupImage = document.getElementById('popup-image');
    const popupName = document.getElementById('popup-desc');
    const popupCost = document.getElementById('popup-cost')
    const popupDesc = document.getElementById('popup-full-desc')
    const popupWeight = document.getElementById('popup-weight')
    popupImage.src = cellData.image;
    popupCost.textContent = cellData.price + "₽";
    popupName.textContent = cellData.name;
    popupDesc.textContent = cellData.desc;
    popupWeight.textContent = cellData.weight + "г";
    popup.style.display = 'block';
}

function hidePopup() {
    const popup = document.getElementById('popup');
    popup.style.display = 'none';
}
</script>

</body>
</html>