@using System.Globalization
@using System.Text.Json
@model Domain.Models.RestaurantDetailsViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 610px;
            width: 90%;
            height: 90%;
            background-color: white;
            padding: 20px;
            border-radius: 30px;
        }
        .close-button {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            font-size: 50px;
            color: #4c4c4c;
        }
    </style>
</head>
<body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    function setCellHeight() {
        const cells = document.querySelectorAll('.cell');
        cells.forEach(cell => {
            const width = cell.offsetWidth;
            const height = 3 * width / 2;
            cell.style.height = `${height}px`;
        });
    }

    setCellHeight();
    window.addEventListener('resize', setCellHeight);
});
</script>
<div id="order-context" data-table-id="@Model.Table.Id" data-restaurant-id="@Model.Restaurant.Id" data-client-id="1"></div>
<div class="container">
    <p class="category">@Model.Restaurant.Name</p>
    @foreach (var category in Model.Restaurant.Menu.Categories)
    {
        <div class="block">
            <div class="category">@category.Name</div>
            <div class="row">
                @foreach (var cell in category.MenuItems)
                {
                    var dataCell = cell.ToString();
                    var doc = JsonDocument.Parse(dataCell);
                    <div class="cell" data-cell='@dataCell' onclick="handleCellClick(event, this)">
                        @if (string.IsNullOrEmpty(cell.ImagePath))
                        {
                            <img src="https://i.ebayimg.com/images/g/lbUAAOSw6DtmH8z0/s-l1600.png" alt="image" class="image">
                        }
                        else 
                        {
                            <img src="/MenuItemImages/@cell.ImagePath" alt="image" class="image">
                        }
                        <div class="content">
                            <p class="cost">@cell.Price.ToString(CultureInfo.InvariantCulture)₽</p>
                            <p class="desc">@cell.Name</p>
                            <p class="cooking-time">@cell.CookingTimeMinutes</p>
                            <button class="add-button" data-item-id="@cell.Id" data-count="0">
                                <span class="plus">+</span>
                                <span class="text">Добавить</span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div class="cart">
        <div class="category">Корзина</div>
        <div class="basket">
            <div id="cart-items"></div>
            <div id="cart-total">
                <span class="desc">Итого: </span><span class="desc" id="total-price">0</span><span class="desc">₽</span>
            </div>
            <div id="cart-total-time">
                <span class="desc">Примерное время ожидания: </span><span class="desc" id="total-time">0</span><span class="desc"> минут</span>
            </div>
            <textarea id="input" placeholder="Оставьте комментарий к заказу..."></textarea>
        </div>

    </div>

</div>

<button class="send-button" id="order-button" onclick="placeOrder()">
    <span class="text">Сделать заказ</span><span class="arrow"><img src="/img/arrow.svg" alt="arrow"></span>
</button>

<div id="popup">
    <img src="#" alt="image" class="image" id="popup-image">
    <span class="close-button" onclick="hidePopup()">×</span>
    <div class="content">
        <div id="popup-cost" class="cost"></div>
        <div id="popup-desc" class="desc"></div>
        <div id="popup-full-desc" class="desc"></div>
        <div id="popup-weight" class="desc"></div>
        <div id="popup-ctm" class="desc"></div>
    </div>
</div>

<button id="scrollToBottomBtn" title="Перейти вниз">
    <span class="arrow-down"></span>
</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script src="/js/order.js"></script>

</body>
</html>
