@using System.Globalization
@using System.Text.Json
@model Domain.Models.Order

@{
    (string Text, string Class) GetStatus() 
    {
        return Model.Status.ToString() switch
        {
            "InAssembly" => ("Ожидает подтверждения", "status-in-assembly"),
            "Cooking" => ("Готовится", "status-cooking"),
            "Done" => ("Выполнен", "status-done"),
            "Cancelled" => ("Отменён", "status-cancelled"),
            _ => ("-", "status-default")
        };
    }
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">
    <title>About order</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="block">
        <div class="category">Заказ #@Model.Id</div>
        <div class="information"><b>Дата заказа:</b> @Model.DateTime</div>
        <div class="information"><b>Примерное время ожидания:</b> @Model.CookingTimeMinutes минут</div>
        <div class="information"><b>Статус:</b> <span class="@GetStatus().Class">@GetStatus().Text</span></div>
        @* <div class="main-table-row table-row table-row-bold">
            <div class="main-a a"><p>Название</p></div><div class="main-b b"><p>Кол-во</p></div><div class="main-c c"><p>Цена</p>
        </div>
        @foreach (var item in @Model.OrderItems)
        {
            <div class="main-table-row table-row">
                <div class="main-a a">@item.MenuItem.Name</div><div class="main-b b">@item.Count</div><div class="main-c c">@item.Price₽</div>
            </div>
        } 
        <div class="main-table-row table-row table-row-bold bottom-row">
            <div class="main-a a"><p>Итого:</p></div><div class="main-d d"><p></p></div><div class="main-c c"><p>@Model.Price₽</p></div>
        </div> *@
        <div class="basket">
            <div class="main-table-row table-row">
                <div class="main-a a bold">Название</div><div class="main-b b bold">Кол-во</div><div class="main-c c bold">Цена</div>
            </div>
            <div id="cart-items">
                @foreach (var item in @Model.OrderItems)
                {
                    <div class="main-table-row table-row">
                        <div class="main-a a">@item.MenuItem.Name</div><div class="main-b b">@item.Count</div><div class="main-c c">@item.Price₽</div>
                    </div>
                } 
            </div>
            <div class="main-table-row table-row">
                <div class="main-a a bold">Итого: </div><div class="main-d d"></div><div class="main-c c bold" id="total-price">@Model.Price₽</div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Comment)) {
            <div class="information"><b>Комментарий:</b> @Model.Comment</div>
        }
    </div>
</div>
</body>
</html>
